*{
	padding:0;
	margin:0;
	
}
.menubar ul{
	display:flex;
	list-style:none;
	background:#dddddd1f;
	padding:30px 200px;
	box-shadow:0px 4px 15px rgba(0,0,0,0.3);

}
.menubar ul li{
	margin:10px;
	
}
.menubar ul li a{
	text-decoration:none;
	color:black;
	transition:.5s;
	font-size:15px;
	
}
.menubar ul li a:hover{
	color:crimson;
}
.container{
	padding:40px 30px;
}
.container .row{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:30px;
	width:70%;
	margin:0 auto;
}
.container .row .col h5{
	padding-bottom:10px;
}
.container .row .col h2{
	padding-bottom:10px;
	
}
.container .row .col h1{
	padding-bottom:10px;
	color:crimson;
}
.container .row .video-col{
	width:100%;
	position:relative;
}
.container .row .video-col iframe{
	width:100%;
	height:370px;
	border:5px solid crimson;
	border-radius:20px;
}
@media only screen and (max-width: 1200px){
	.container .row{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:30px;
	width:90% !important;
	margin:0 auto;
	}
}
@media only screen and (max-width:991px){
	.container .row{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:30px;
	width:95% !important;
	margin:0 auto;
	}
	.container .row .video-col iframe{
	width:100% !important;
	height:370px !important;
	border:5px solid crimson;
	border-radius:20px;
}
	
}
@media(max-width:600px){
	.container .row{
	display:grid;
	grid-template-columns:auto !important;
	width:100% !important;
	margin:0 auto;
	gap:10px !important;
}
.container .row .video-col iframe{
	width:100%;
	height:300px !important;
	border:5px solid crimson;
	border-radius:20px;
}
}